<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    {% extends "aplicacion/padre.html"%}
        {%load static%}

        {%block contenido%}
            <h2>ESTUDIANTES</h2>
            <div>
                {%for alumno in estudiantes%}
                    <li>
                        {{alumno.nombre}}
                        {{alumno.apellido}}
                        {{alumno.ano}}
                    </li>
                    {%if user.is_authenticated%}
                    <button>
                        <a href="{% url 'infoalumnos' alumno.nombre %}">Info</a>
                    </button>
                    {%endif%}
                    {%if user.is_superuser%}
                    <button>
                        <a href="{% url 'eliminaralumnos' alumno.nombre %}">Borrar</a>
                    </button>
                    <button>
                        <a href="{% url 'editaralumnos' alumno.nombre %}">Editar</a>
                    </button>
                    {%endif%}
                {%endfor%}
                <br>
            </div>
            {%if user.is_superuser%}
            <a href="{%url 'agregaralumnos'%}">Agregar Alumno</a>
            {%endif%}
        {%endblock contenido%}
</body>
</html>