<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'estudiantes'%}">Volver al inicio</a>
    <ul>
        <li>nombre : {{nombre}}</li>
        <li>apellido : {{apellido}}</li>
        <li>año : {{ano}}</li>
        <li>division : {{division}}</li>
        <li>inasistencias : {{inasistencias}}</li>
        <li>fecha de nacimiento : {{fecha_de_nacimiento}}</li>
        <li>email : {{email}}</li>
    </ul>
</body>
</html>