<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    {% block padre %}
    <header>
        <ul>
            <li>inicio</li>
            <li>Profesores</li>
            <li>Alumnos</li>
            <li>Iniciar Sesion</li>
        </ul>
    </header>
    <section class="titulo">
        <h1>COLEGIO PALERMO CHICO</h1>
    </section>
    {% endblock %}
</body>
</html>