<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            
            {{miFormulario.as_table}}
        </table>
    <button type="submit">Editar campos</button>
    </form>

    <button>
        <a href="{% url 'cambiarcontrasena' %}">Cambiar contraseña</a>
    </button>


    <p>Para salir de sesion haz click <a href="{% url 'Logout' %}">aqui</a></p>
</body>
</html>